version: "3"

env:
  GITHUB_TOKEN:
    sh: gh auth token 2>/dev/null || echo ""

tasks:
  trigger-workflow-workflow-dispatch:
    desc: Trigger GitHub Actions workflow using act
    cmds: 
      - |
        act workflow_dispatch \
          --container-architecture linux/amd64 \
          -s GITHUB_TOKEN="{{.GITHUB_TOKEN}}" \
          -e {{.TASKFILE_DIR}}/workflow-dispatch-event.json \
          -P ubuntu-24.04=ghcr.io/catthehacker/ubuntu:act-24.04 \
          --directory ../../.. \
          -W .github/workflows/update-gitops-manifests.yaml